.body {
    padding: 5vh 12vw ;
    position: relative ;
    display: grid ;
      grid-template-columns: 75% calc(20% + 40px);

}
.main-body {
    min-height: 100vh ;
    min-width: 50vw ;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .body {
        grid-template-columns: 100% ;
    }
}
@media screen and (max-width: 900px) {
    .body {
        padding: 5vh 6vw ;
    }
}

@media screen and (max-width: 600px) {
    .body {
        padding: 0 ;
    }
}
