.post {
    border: 1px solid #DFDFDF ;
    border-radius: 3px ;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
    margin: 30px 0 ;
    max-width: 550px ;
}

.post > img {
    background: rgb(255 255 255);
    width: 100% ;
    display: flex ;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    max-height: 90vh;
}

@media screen and (max-width: 600px) {
    .post {
        border: none ;
    }
}
