.user-profile {
    padding: 25px 15vw ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

.user-profile-top {
    display: grid ;
    grid-template-rows: auto auto;
    grid-template-columns: 240px auto ;
}
.user-profile-image {
  grid-row: 1/3 ;
  grid-column: 1/2 ;
}
.user-profile-top > .user-profile-image {
    width: 180px ;
    height: 180px ;
}


.user-top-info {
    display: flex ;
    align-items: center ;
    grid-row: 1/2 ;
    grid-column : 2/3 ;
}
.user-top-info > h1 {
    color: #535353 ;
    font-weight: lighter ;
    font-size: 2rem ;
    margin-bottom: 0 ;
}

.user-top-info .MuiButton-root {
    background-color: #3AACF7 ;
    font-weight: bold ;
    text-transform: none ;
    font-size: 15px ;
    color: white ;
    margin: 0 5px ;
    height: 35px ;
    padding: 3px 12px ;
}

.user-top-info > div > .MuiButton-root:nth-child(2) {
    width: 20px ;
}
.user-top-info > div {
    margin-left: 20px ;
    display:flex ;
    align-items: center ;
}
.user-top-info .MuiButton-root:hover {
    background-color: #3AACF7 ;
    color: white ;
}
.user-top-info  .MuiButton-root:focus {
    background-color: #3AACF7 ;
    color: white ;
}
.user-description {
    margin: 40px 0 ;
    grid-row: 2/3 ;
    grid-column: 2/3 ;
}
.user-description > ul {
    list-style-type: none ;
}

.user-description > ul > li {
    margin: 6px 0 ;
    font-weight: 400 ;
}
.user-description > ul > li > strong {
    font-size: 15px ;
    margin-right: 5px ;
}
.user-profile-bar {
    width: 100% ;
    height: 1px ;
    background-color: #DBDBDB ;
    margin: 40px 0 ;
    max-width: 950px ;
}
.user-profile-posts {
    display: grid ;
    grid-template-columns: repeat(3 , 1fr) ;
    grid-column-gap: 20px ;
    grid-row-gap: 20px ;
    max-width: 950px ;
}
.post-container {
    width: 100% ;
    height: 100% ;
    position: relative ;
    cursor: pointer ;
}
.post-container > img {
    height: 100% ;
    width: 100% ;
    object-fit: cover ;

}

.post-overlay {
    position: absolute ;
    top: 0 ;
    right: 0 ;
    bottom: 0 ;
    left: 0 ;
    background-color: rgba(0 ,0 , 0 , 0) ;
    transition: .3s ease-out ;
    -webkit-transition: .3s ease-out ;
    -moz-transition: .3s ease-out ;
    -ms-transition: .3s ease-out ;
    -o-transition: .3s ease-out ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    opacity: 0 ;
}
.post-overlay > div {
    display: flex ;
    align-items: center ;
}
.post-container:hover .post-overlay {
    background-color: rgba(0 ,0 , 0 , .5) ;
    opacity: 1 ;
}
@media screen and (max-width: 1070px) {
    .user-profile {
        padding: 10px 5vw ;
    }
    .user-profile-top > .user-profile-image {
        width: 150px ;
        height: 150px ;
    }
    .user-profile-top {
      grid-template-columns: 200px auto ;
      min-width: 100% ;
    }
    .user-top-info > h1 {
      font-size: 1.8rem ;
    }

}
@media screen and (max-width: 800px ) {
  .user-top-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .user-top-info > div {
    margin-left: 0 ;
    margin-top: 15px ;
  }
  .user-top-info > h1 {
    font-size: 1.6rem ;
  }
}
@media screen and (max-width: 700px) {
    .user-profile {
        padding: 0;
    }
    .user-top-info {
        flex-direction: column ;
        align-items: flex-start ;
    }
    .user-top-info > div {
        margin-top: 20px ;
        margin-left: -10px  ;
    }
    .user-profile-top > .user-profile-image {
        width: 100px ;
        height: 100px ;
    }
    .user-profile-top {
        padding: 20px 10px ;
    }
    .user-description {
      grid-row: 2/3 ;
      grid-column: 1/3 ;
    }
    .user-profile-image {
      grid-row: 1/2 ;
    }
    .user-profile-top {
      grid-template-columns: 135px auto ;
      padding: 20px ;
    }
    .user-top-info > h1 {
      font-size: 1.3rem ;
    }

}
