* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #fafafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.app .MuiButton-root  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: 700 ;
}
